<meta charset="UTF-8">
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:700,900&subset=cyrillic');
    style {
        display: none !important;
    }
    /* Кнопка раскрытия категорий, правка стилей */
    .product-groups .product-groups-show-all-groups {
        margin: 0 -30px 0 !important;
    }

    ._customer-category {
        font-family:  Roboto, Arial, sans-serif;
        font-size: 18px;
        line-height: 20px;
        font-weight: 900;
        max-width: 630px;
        box-sizing: border-box;
        padding: 20px 0 25px 0;
        color: #000000;
        display: block !important;
    }
    ._customer-category__top {
        display: flex !important;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    ._customer-category__title {
        width: 329px;
        height: 61px;
        font-size: 22px;
        line-height: 61px;
        color: #ffffff;
        display: block !important;
        background: url("img/block_category/bg-ttl.png") no-repeat top left;
        padding-left: 25px;
        box-sizing: border-box;
    }
    ._customer-category__img {
        position: relative;
        display: block !important;
    }
    ._customer-category__work-list {
        display: flex !important;
        padding: 0;
        list-style: none !important;
        text-align: center;
        margin: 0!important;
        padding-top: 10px;
        justify-content: center;
    }
    ._customer-category__work-list li {
        width: 33%;
        box-sizing: border-box;
        background-position: center top;
        background-repeat: no-repeat;
        position: relative;
        display: block !important;
    }
    ._customer-category__work-list li img {
        margin: 0 auto;
        min-width: 99px !important;
        max-height: 92px !important;
    }
    ._customer-category__img:after {
        content: url("img/block_category/arrow.png");
        display: block !important;
        width: 8px;
        height: 14px;
        position: absolute;
        top: 40px;
        right: -3px;
    }
    ._customer-category__img:before {
        content: "";
        display: block !important;
        width: 3px;
        height: 83px;
        position: absolute;
        top: 130px;
        right: 0;
        background: #e1e1e1;
    }
    ._customer-category__img-mod:after {
        content: "";
    }
    ._customer-category__img-mod:before {
        display: none !important;
    }
    ._customer-category__work-text {
        text-align: center;
        margin-top: 35px;
        display: block !important;
    }
    ._customer-category__work-text span {
        color: #e42121;
    }
    ._customer-category__btn {
        width: 211px;
        height: 49px;
        line-height: 49px;
        font-weight: 700;
        background: #ffffff;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
        color: #e42121;
        border: 2px solid #e42121;
    }
    ._customer-category__btn:hover {
        background: #e42121;
        color: #ffffff;
        transition: 0.3s;
    }

    @media screen and (max-width: 1100px) {
        ._customer-category__work-list {
            margin: 0 auto -30px !important;
            flex-direction: column;
            align-items: center;
        }
        ._customer-category__work-list li {
            width: 300px;
            margin: 0 auto 30px;
        }
        ._customer-category__img:after {
            content: "";
        }
        ._customer-category__img:before {
            display: none !important;
        }
        ._customer-category__btn {
            margin-bottom: 20px;
        }
    }
    @media screen and (max-width: 1143px) {
        ._customer-category__btn {
            margin: 20px auto;
        }
    }

</style>

<div class="_customer-category">
    <div class="_customer-category__top">
        <div class="_customer-category__title">С нами работать легко!</div>
        <div class="js-ga-link js-orders-callback-link tmpl-communication-content _customer-category__btn"
             data-company-id="98306641" data-company-name="Магистраль" data-company-name-rest="ТД"
             data-company-url="http://www.xn--86-6kcao4awd3bjl7j.xn--p1ai/" data-ga-id="CK-1193-1"
             data-params="{&quot;company_id&quot;:98306641}" data-statistics="1" data-type="callback"
             onclick="yaCounter48341075.reachGoal('megasite_comblock_order'); return true;">
            заказать звонок
        </div>
    </div>

    <ol class="_customer-category__work-list">
        <li>
            <div class="_customer-category__img">
                <img src="img/block_category/phone-volume.png" alt="">
            </div>
            <div class="_customer-category__work-text">
                Звонок
            </div>
        </li>
        <li>
            <div class="_customer-category__img">
                <img src="img/block_category/dialog-copy.png" alt="">
            </div>
            <div class="_customer-category__work-text">
                <span>Согласование:</span><br>
                Наименования<br>
                Количества<br>
                Цены
            </div>
        </li>
        <li>
            <div class="_customer-category__img _customer-category__img-mod">
                <img src="img/block_category/delivery-truck.png" alt="">
            </div>
            <div class="_customer-category__work-text">
                Доставка
            </div>
        </li>
    </ol>

</div>
